.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-heading {
  font-size: 4rem;
  font-weight: 700;
  margin: 15px 0;
}
.home-nav {
  width: fit-content;
  box-shadow: 1px 1px 5px rgba(52, 51, 51, 0.849);
  border-radius: 20px;
  padding: 10px 10px;
}
.home-nav span {
  margin: 5px;
  padding: 10px;
  font-size: 1.2rem;
  color: rgba(39, 37, 37, 0.772);
  font-weight: 600;
}
.homeDownloadLink {
  margin-top: 15px;
  font-size: 1.1rem;
}
.homeDownloadLink a {
  color: rgba(28, 28, 205, 0.774);
  text-decoration: none;
}
