html,
body {
  margin: 0;
  height: 100%;
  font-weight: 300;
}

body {
  overflow-x: hidden;
}

h1,
h2 {
  text-align: center;
}

.full-screen {
  display: block;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

#panels #panels-container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  /* background-color: #ddd; */
}

#panels #panels-container .panel {
  color: black;
  position: relative;
  width: fit-content;
  height: 100vh;
  overflow: hidden;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  /* Optional: */
  /* border-right: 1px solid #f00;  */
}

a {
  color: black;
}

/* Layering from bottom anime */
.LayeringFromBottomAnime {
  width: 100vw;
  height: 90vh;
  position: relative;
}
#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel {
  position: absolute;
  will-change: transform;
}
